body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Work Sans", sans-serif;
}
/* !------------------------------- SECTION CSS VARIABLES STARTS------------------------------ */
:root {
  --main-color: #eb233c;
  --secondary-color: #faf4fa;
  --tertiary-color: #ffffff;
  --secondary-font: "Oleo Script Swash Caps", sans-serif;
}
/* *------------------------------- !SECTION CSS VARIABLES ENDS---------------------------- */

/* !------------------------------- SECTION TYPOGRAPHY STARTS ------------------------------- */
.text-lvl-primary {
  font-family: var(--secondary-font);
  font-size: 50px;
  text-transform: capitalize;
}
.text-lvl-secondary {
  display: inline-block;
  font-family: var(--secondary-font);
  font-size: 24px;
  text-transform: capitalize;
}
.text-lvl-tertiary {
}
.text-lvl-quaternary {
  font-family: var(--secondary-font);
  font-weight: 500;
  font-size: 18px;
  text-transform: capitalize;
}
.text-lvl-quinary {
  font-weight: 500;
  font-size: 14px;
  text-transform: capitalize;
}
.text-lvl-senary {
}
.para {
  font-size: 15px;
}
.para-custom {
  font-size: 14px;
}

/* *------------------------------- !SECTION TYPOGRAPHY ENDS ------------------------------- */

/* !----------------------- SECTION REUSEABLE BLOCK STARTS ---------------------- */
.text-red {
  color: var(--main-color);
}
.button {
  display: inline-block;
  font-size: 15px;
  text-decoration: none;
  text-transform: capitalize;
  color: var(--tertiary-color);
  border: 1px solid #4b3e40;
  border-radius: 25px;
}
.button:hover {
  text-decoration: none;
  color: #FFFFFF;
}
.button--transparent {
  text-decoration: none;
  padding: 12px 35px;
}
.button--transparent:hover {
  text-decoration: none;
  color: #000000;
  background: #cccccc;
}
.button--red {
  text-decoration: none;
  border: none;
  padding: 12px 35px;
  color: #FFFFFF;
  background: var(--main-color); 
}
}
.button--red:hover {
  text-decoration: none;
  color: #FFFFFF;
  background: var(--main-color); 
}
.button--submit {
}



 /* SECTION Section header starts */
 
.section-header__main-container {
  padding: 30px 0;
}
.section-header__main-title {
  border-bottom: 2px solid var(--main-color);
}
.section-header--custom {
  padding: 0;
}
 /* !SECTION Section header starts */



/* *----------------------- !SECTION REUSEABLE BLOCK STARTS ---------------------- */

/* !----------------------- SECTION SECTION HERO STARTS ---------------------- */
.section-hero {
  background-image: linear-gradient(
      to right,
      rgba(5, 1, 7, 0.7),
      rgba(14, 7, 17, 0.7)
    ),
    url("./images/background.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
}
.section-hero__main-menu {
  background: #443344;
}
.navbar {
  padding: 0.1rem 1rem;
}
.nav-custom {
  background: transparent !important;
}
.custom-brand {
  font-family: var(--secondary-font);
  font-size: 26px;
  text-transform: capitalize;
}
.custom-brand:hover {
  color: var(--main-color) !important;
}

.nav-item-custom {
  text-transform: capitalize;
  padding: 0.2rem 0;
  border-bottom: 2px solid transparent;
}
.active {
  border-bottom: 2px solid var(--main-color);
}
.nav-item-custom:hover {
  background: #665566;
  border-bottom: 2px solid var(--main-color);
}
.nav-link {
  padding: 0.6rem 0.6rem !important;
}
.nav-link-custom {
  font-size: 14px !important;
}
.section-hero__body-container {
  padding-top: 300px;
  padding-bottom: 200px;
}
.section-hero__text-container {
  padding-bottom: 55px;
}
/* *----------------------- !SECTION SECTION HERO STARTS ---------------------- */

/* !-------------------- SECTION SECTION PORTFOLIO STARTS -------------------- */

.section-portfolio__body-container {
  padding: 100px 0;
}
.section-portfolio__icon-item::before {
  color: var(--main-color);
  font-size: 25px;
  padding: 25px;
  margin-left: 0;
  border: 1px solid #f8f8f8;
  border-radius: 50%;
}
/* *-------------------- !SECTION SECTION PORTFOLIO STARTS -------------------- */

/* !----------------------- SECTION SECTION WORK STARTS ---------------------- */

.section-work {
  background: var(--secondary-color);
}
.section-work__body-container {
  padding: 20px 0;
}
.section-work__button-container {
  padding: 45px 0;
}

/* *----------------------- !SECTION SECTION WORK ENDS ---------------------- */



/* !-------------------- SECTION SECTION SUBSCRIBE STARTS -------------------- */
.section-subscribe {
  background-image: linear-gradient(
      to right,
      rgba(5, 1, 7, 0.7),
      rgba(14, 7, 17, 0.7)
    ),
    url("./images/background.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  padding: 50px 0 40px 0;
}
.section-subscribe__text-container {
  margin-top: 10px;
}
.section-subscribe__button-container {
  margin-top: 40px;
}
/* *-------------------- SECTION SECTION SUBSCRIBE ENDS -------------------- */


/* !--------------------- SECTION SECTION ABOUT US STARTS -------------------- */
.section-about {
  padding: 30px 0;
}


.section-about__total-number {
  font-size: 50px;
  font-weight: 200;
  color: var(--main-color);
}









/* *--------------------- SECTION SECTION ABOUT US ENDS -------------------- */




















